[submodule "vim/vim.symlink/bundle/ctrlp"]
	path = vim/vim.symlink/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/l9"]
	path = vim/vim.symlink/bundle/l9
	url = git://github.com/vim-scripts/L9.git
  ignore = untracked
[submodule "vim/vim.symlink/bundle/vim-rails"]
	path = vim/vim.symlink/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/vim.symlink/bundle/vim-pathogen"]
	path = vim/vim.symlink/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/vim.symlink/bundle/vim-ruby"]
	path = vim/vim.symlink/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/vim.symlink/bundle/vim-markdown"]
	path = vim/vim.symlink/bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "vim/vim.symlink/bundle/vim-fuzzyfinder"]
	path = vim/vim.symlink/bundle/vim-fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
  ignore = untracked
[submodule "vim/vim.symlink/bundle/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/vim-commentary"]
	path = vim/vim.symlink/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/vim.symlink/bundle/vim-coffee-script"]
	path = vim/vim.symlink/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim.symlink/bundle/zoomwin"]
	path = vim/vim.symlink/bundle/zoomwin
	url = git://github.com/vim-scripts/ZoomWin.git
  ignore = untracked
[submodule "vim/vim.symlink/bundle/vim-endwise"]
	path = vim/vim.symlink/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/vim.symlink/bundle/vim-less"]
	path = vim/vim.symlink/bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule "vim/vim.symlink/bundle/vim-slim"]
	path = vim/vim.symlink/bundle/vim-slim
	url = git://github.com/bbommarito/vim-slim.git
[submodule "vim/vim.symlink/bundle/molokai"]
	path = vim/vim.symlink/bundle/molokai
	url = git://github.com/mrtazz/molokai.vim.git
[submodule "vim/vim.symlink/bundle/vim-javascript"]
	path = vim/vim.symlink/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/vim-powerline"]
	path = vim/vim.symlink/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/vim.symlink/bundle/splitjoin"]
	path = vim/vim.symlink/bundle/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "vim/vim.symlink/bundle/vim-surround"]
	path = vim/vim.symlink/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim.symlink/bundle/tabular"]
	path = vim/vim.symlink/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/vim.symlink/bundle/vim-arpeggio"]
	path = vim/vim.symlink/bundle/vim-arpeggio
	url = https://github.com/kana/vim-arpeggio.git
  ignore = untracked
[submodule "vim/vim.symlink/bundle/vim-repeat"]
	path = vim/vim.symlink/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vim.symlink/bundle/textobj-user"]
	path = vim/vim.symlink/bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
  ignore = untracked
[submodule "vim/vim.symlink/bundle/textobj-entire"]
	path = vim/vim.symlink/bundle/textobj-entire
	url = git://github.com/kana/vim-textobj-entire.git
  ignore = untracked
[submodule "vim/vim.symlink/bundle/textobj-datetime"]
	path = vim/vim.symlink/bundle/textobj-datetime
  ignore = untracked
	url = git://github.com/kana/vim-textobj-datetime.git
[submodule "vim/vim.symlink/bundle/textobj-rubysymbol"]
	path = vim/vim.symlink/bundle/textobj-rubysymbol
	url = https://github.com/bootleq/vim-textobj-rubysymbol.git
[submodule "vim/vim.symlink/bundle/textobj-rubyblock"]
	path = vim/vim.symlink/bundle/textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim/vim.symlink/bundle/mac-classic"]
	path = vim/vim.symlink/bundle/mac-classic
	url = https://github.com/nelstrom/vim-mac-classic-theme.git
[submodule "vim/vim.symlink/bundle/vim-unimpaired"]
	path = vim/vim.symlink/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/vim.symlink/bundle/vim-visual-star-search"]
	path = vim/vim.symlink/bundle/vim-visual-star-search
	url = https://github.com/bronson/vim-visual-star-search.git
[submodule "vim/vim.symlink/bundle/text-obj-lastpat"]
	path = vim/vim.symlink/bundle/text-obj-lastpat
	url = https://github.com/kana/vim-textobj-lastpat.git
[submodule "vim/vim.symlink/bundle/text-obj-comment"]
	path = vim/vim.symlink/bundle/text-obj-comment
	url = https://github.com/thinca/vim-textobj-comment.git
[submodule "vim/vim.symlink/bundle/text-obj-between"]
	path = vim/vim.symlink/bundle/text-obj-between
	url = https://github.com/thinca/vim-textobj-between.git
[submodule "vim/vim.symlink/bundle/text-obj-line"]
	path = vim/vim.symlink/bundle/text-obj-line
	url = https://github.com/kana/vim-textobj-line.git
[submodule "vim/vim.symlink/bundle/text-obj-indent"]
	path = vim/vim.symlink/bundle/text-obj-indent
	url = https://github.com/kana/vim-textobj-indent.git
[submodule "vim/vim.symlink/bundle/vim-matchit"]
	path = vim/vim.symlink/bundle/vim-matchit
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "vim/vim.symlink/bundle/textobj-url"]
	path = vim/vim.symlink/bundle/textobj-url
	url = https://github.com/mattn/vim-textobj-url.git
[submodule "vim/vim.symlink/bundle/textobj-quoted"]
	path = vim/vim.symlink/bundle/textobj-quoted
	url = https://github.com/vim-scripts/vim-textobj-quoted.git
[submodule "vim/vim.symlink/bundle/textobj-keyvalue"]
	path = vim/vim.symlink/bundle/textobj-keyvalue
	url = https://github.com/vimtaku/vim-textobj-keyvalue.git
[submodule "vim/vim.symlink/bundle/vim-ack"]
	path = vim/vim.symlink/bundle/vim-ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/vim.symlink/bundle/vimux"]
	path = vim/vim.symlink/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "vim/vim.symlink/bundle/vim-turbux"]
	path = vim/vim.symlink/bundle/vim-turbux
	url = https://github.com/jgdavey/vim-turbux.git
[submodule "vim/vim.symlink/bundle/vim-json"]
	path = vim/vim.symlink/bundle/vim-json
	url = https://github.com/leshill/vim-json.git
[submodule "vim/vim.symlink/bundle/vim-abolish"]
	path = vim/vim.symlink/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
